{% extends 'base.html.twig' %}

{% block body %}
<div class="h-auto">
    <h2 class="text-center col-12">A la carte</h2>
    <div>
        <h3 class="text-center">Entrées</h3>
        <table class="table">

            {%  for starter in dishes_starters %}
            <tbody>
            <tr>
                <td class="col-1"><img class="img-thumbnail" src="{{ asset('images/photos/' ~ starter.photo ) }}"/></td>
                <td class="col-3 align-middle">{{ starter.name }}</td>
                <td class="col-6 align-middle">{{ starter.description }}</td>
                <td class="col-1 align-middle">{{ (starter.price/100)|format_currency('EUR')}}</td>
            </tr>
            {%  endfor %}
        </table>
    </div>
</div>
{% endblock body%}

