
/* Header */
a {
    font-size:14px;
    font-weight:700
}

.form-control {
    color: #720000 !important;
}
.bgmenu, .footer, .footer>h2 {
    color: antiquewhite !important;
    background-color: #720000;
}

.navfontcolor {
    color: white;
    font-family: Cinzel;
}

body {
    background-color: floralwhite;
    min-height: 100%;
    margin: 0;
    padding-bottom: 0px;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width:540px){
    .centerOnMobile {
        text-align:center
    }
}

.hover:hover {
    color: #720000;
}

.hoverDrop:hover {
    background-color: #720000;
    color: white;
}

.validation-button {
    background-color: #720000 !important;
    color: antiquewhite;

}

.validation-button:hover {
    background-color: #720000;
    color: antiquewhite;
}

.menu-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    padding: 2px 6px;
}

/* Body */
h1, h2, h3, label, th{
    font-family: "Bitstream Charter", cursive;
    color: #720000 !important;
    margin-bottom: 0.2em;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    margin: 0.1em;
}

h3 {
    font-size: 24px;
}

    /* Body home page */
.picture p {
    visibility: hidden;
    color: #720000;
}

img:hover + .photo-title {
    visibility: visible;
    cursor: default;
    -webkit-transform: translateY(-125px);

}

.picture:hover {
    transition: transform .4s;
    transform:scale(1.03);
    text-decoration-color: #720000;
    text-decoration-thickness: unset;
}

.photo-title {
    text-decoration:none !important;
}

    /* Body dish & menu page */
.reservation, .register {
    color: white;
    background-color: #720000;
}

.reservation:hover, .register:hover {
    color: #720000;
    background-color: white;
    border: 1px solid;
}

td {
    font-family: Menlo;
    color: #720000;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#reservation_date {
    color: #720000;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

@media screen and (max-width:992px){
    .centerOnMobile {
        text-align:center
    }
    #content {
        padding-bottom: 15vh !important;
    }
}
#content {
    padding-bottom: 30vh;
}

section {
    background: antiquewhite;
}
